{% extends 'base.html' %}

<% comment %}
List of aspects:
title, body_data, custom_css, custom_js

<% endcomment %}

{% block title %}
Seguros de Vida
{% endblock title %}


{% block content %}
<div class="alert alert-info" role="alert">
	<p class="lead text-center"><strong>¿Por qué Debería Estar Asegurado?</strong> La Importancia de la Tranquilidad Financiera en Tiempos Inciertos
	</p>
</div>
<div class="container-fluid pt-4">
  <div class="row">
    <div class="col-md-4 mb-3">
      El seguro de vida es una inversión crucial en su bienestar financiero y el futuro de sus seres queridos. A menudo, el "pain point" más profundo que nuestros clientes experimentan es la incertidumbre y la preocupación por el bienestar de su familia en caso de su fallecimiento. Este temor se convierte en un recordatorio constante de la vulnerabilidad financiera que podría enfrentar su familia si no cuentan con la protección adecuada.
    </div>
    <div class="col-md-4 mb-3">
    	La pregunta fundamental es: ¿qué sucederá con su familia cuando usted ya no esté aquí? La respuesta es el núcleo del "pain point" que aborda el seguro de vida. Al tener un seguro de vida, usted les brinda a sus seres queridos una red de seguridad financiera que les permitirá cubrir gastos esenciales, como hipotecas, educación de sus hijos, gastos cotidianos y deudas pendientes. La ausencia de esta protección podría dejar a su familia enfrentando dificultades económicas inesperadas y decisiones difíciles.
      <!-- ¿Cómo elegir mi seguro de vida? -->
    </div>
    <div class="col-md-4 mb-3">
    	En un mundo lleno de incertidumbre, el seguro de vida proporciona la paz mental de saber que su familia estará protegida, incluso en su ausencia. No se trata solo de un producto financiero, es una muestra de amor y responsabilidad hacia quienes más aprecia. Asegurarse es un paso esencial para garantizar que su legado financiero sea una fuente de apoyo en lugar de una carga.
      <!-- ¿Cuáles son mis beneficios? -->
    </div>
  </div>
</div>

{% endblock content %}